<%layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center min-vh-100" >
  <div class="card p-2">
    <h2><%= feed.title %></h2>
    <h3><%= feed.description %></h3>
    <div class="d-flex">
      <a href="/feeds" class="btn btn-secondary m-2">Back</a>
      <% if(isOwner) { %>
      <a href="/feeds/<%=feed.id%>/edit" class="btn btn-warning m-2">Edit</a>
      <form action="/feeds/<%=feed.id%>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger m-2">Delete</button>
      </form>
      <% } %>
    </div>
    <div class="d-flex">
      <form action="/feeds/<%=feed.id%>/upvotefeed" method="post">
        <p><%= feed.upvotes.length %></p>
        <button type="submit" class="btn btn-secondary m-2">Upvote</a>
      </form>
    </div>
     <% for (const comment of comments) {%>
    <div class="d-flex">
      <h5><%= comment.author.username %></h5>
      <p>says:</p>
      <br/>
      <p class="card-text"><%= comment.description %></p>
    </div>
    <div>
      <!--Upvote Comment-->
    </div>
    <% } %> 
    <div class="d-flex">
      <form action="/feeds/<%=feed.id%>/comment" method="post">
        <input type="text" class="form-control" name="comment" />
        <button type="submit" class="btn btn-secondary m-2">Post</a>
      </form>
    </div>
  </div>
</div>
